body {
  margin: 0;
  font-family: "Courier New", 'Courier', monospace;
  background: linear-gradient(to right, rgb(97, 110, 159), rgb(44, 196, 79));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
